<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo Page</title>

    <script src="/dist/demo.js"></script>
    <link rel="stylesheet" href="/css/demo.css">
</head>

<body>
    <div class="head">
        <% include components/head %>
    </div>
    <div class="container">
        <h1>Demo Page</h1>
        <p>Welcome to XXX.</p>
    </div>
    <div class="footer">
        <% include components/footer %>
    </div>
    <% include components/assets %>
</body>

</html>