<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo</title>
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>

    <style>
        p.limit500 {
            /* width: 100%; */
            height: 200px;
            overflow: hidden;
            padding: 1rem;
            border: 1px solid black;
        }

        input[name="querytext"] {
            width: 1200px;
        }
    </style>
</head>

<body>
    <div id="bgr-container">
        <h1>Demo Page</h1>
        <p>Basic Graph Request</p>
        <label for="bg-bdate">Begin Time</label>
        <input type="date" name="bg-bdate" v-model="bdate">
        <input type="time" name="bg-btime" v-model="btime">
        <label for="bg-edate">End Time</label>
        <input type="date" name="bg-edate" v-model="edate">
        <input type="time" name="bg-etime" v-model="etime">
        <button v-on:click="req">Submit</button>
        <br>
        <label for="querytext">Query Text</label>
        <input type="text" name="querytext" v-model="qtext">
        <hr>
        <p class="limit500">{{ res }}</p>
    </div>


    <script>
        let ins = new Vue({
            el: '#bgr-container',
            data: {
                bdate: '2016-07-05',
                edate: '2016-07-05',
                btime: '00:00:00',
                etime: '02:00:00',
                res: 'No result',
                qtext: 'Please submit your selection.'
            },
            methods: {
                req: function () {
                    let self = this,
                        query =
                        encodeURI(
                            `/api/basicGraph?spaceType=grid&timeType=duration&netType=basic&other=none&beginTime=${this.bdate} ${this.btime}&endTime=${this.edate} ${this.etime}`
                        );
                    $.get(query, (res) => {
                        self.res = res;
                        self.qtext = `http://localhost:3000${query}`;
                    })
                }
            }
        })
    </script>
</body>

</html>